<div class="thanx-page">
  <div class="theme">送信完了</div>
  <div class="thanx mt-4 mb-4">
    ご意見・お問い合わせいただきありがとうございます。</br>
    内容を確認させていただき、近日中にご返信いたします。
  </div>
  <p>
    ※内容により返信がない場合がございます。</br>
    ご了承ください。
  </p>
  <%= link_to "トップページに戻る", root_path, class: "btn orange-btn mt-5" %>
</div>