<div class="theme">About</div>
<p>
当サイトは「Vリーグと私」をテーマとした情報共有サイトです。<br>
主に、これからVリーグ観戦を考えている人へ向けて<br>
会場に足を運ぶハードルを下げることを目的としています。<br>
すでに何度も現地観戦をしている人も<br>
「会場近くに美味しいものないかな？」「あの座席ってどうだった？」など<br>
知りたいこと、共有したいことがたくさんあるかと思います。<br>
そんな時には是非このサイトをご活用ください！<br>
</p>
<br>
<h5><u>どんな投稿をすればいいの？</u></h5>
<p>
新規ファンを含む、Vリーグを愛する仲間達へ共有したいことを投稿してください。<br>
（例）<br>
「〇〇大会へ行って来ました！駅から少し遠かったので行き方をご紹介します！」<br>
「〇〇会場へ行った際にはここのランチがオススメです！」<br>
「ケツが割れました。〇〇会場の〇〇席はクッション必須かも。。」<br>
「マイカメラをご紹介します！ちなみに〇〇会場ではこの設定がベストでした！」<br>
「ホテルが遠すぎて失敗した話。〇〇駅は通り抜けできないので〇側のホテルを取ることを強くお勧めします！」<br>
「遠征費用どうしてる？お得なクーポンをご紹介！」<br>
などなど・・・<br>
</p>
<br>
<h5><u>会員登録するとできること</u></h5>
<p>
・記事の投稿<br>
・記事のブックマーク<br>
・記事へのコメント<br>
・投稿者のフォロー<br>
非会員であっても、記事の閲覧、ナイス<i class="fas fa-thumbs-up"></i>は可能です。<br>
</p>
<div class="caution mt-5 mb-5">
  <h3><b>＜注意事項＞</b></h3>
  <h7><b>投稿内容について</b></h7>
  <p>
  　当サイトは「Vリーグと私」をテーマとしております。<br>
  　チームや選手個人の情報を共有する場ではございません。<br>
  </p>
  <h7><b><i class="fas fa-exclamation-triangle"></i>画像の投稿について</b></h7>
  <p>
  会場レビューやカメラ設定に関する投稿にて、会場内や選手の写真を載せる場合は下記のことを遵守してください。<br>
  ・自身で撮影した写真であること<br>
  ・Vリーグ機構がVリーグ公式サイトにて提示している『V.LEAGUEを観戦いただく皆さまへ』の『(6)撮影マナーを守ってください』を遵守していること<br>
  ・各ホームチームにて撮影ルールを提示している場合、それらを遵守していること<br>
  </p>
  <b>※著作権について</b>
  <p>配信画面のスクリーンショットなど、著作権を侵害する恐れのある画像の投稿を禁止します。</p>
  <b>※肖像権について</b>
  <p>掲載許可を得ていない人物が写り込んでいる場合、個人を特定できないようぼかし加工などを施してください。</p>
  <h7><b>不適切な表現について</b></h7>
  <p>
  　誹謗中傷などの不適切な投稿・コメントは管理側で削除致します。<br>
  　見かけた方はこちらまでご連絡いただけますと幸いです。<br>
  </p>
</div>

<div class="row">
<p class="ml-auto">退会は<%= link_to "こちら", quit_users_path %>から</p>
</div>