/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*----------全体----------*/
body{
  font-family: 'Noto Sans JP', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.push {
  height: 80px;
}

p {
  font-size: 13px;
}

.alert {
  color: #ffb700;
  border-style:solid;
  border-color: #ffb700;
  border-width:thin;
}

.notice {
  color: #a0e8fc;
  border-style:solid;
  border-color: #a0e8fc;
  border-width:thin;
}

.blue-btn {
  color: #184da3;
  background: #e7f9fe;
  border-color: #184da3;
  border-radius: 0;
  border-width:thin;
}

.blue-btn:hover {
  color: #FFFFFF;
  background: #a0e8fc;
}

.orange-btn {
  color: #184da3;
  background: #ffb700;
  border-color: #184da3;
  border-radius: 0;
  border-width:thin;
}

.orange-btn:hover {
  color: #ffb700;
  background: #ffff64;
  border-color: #ffb700;
}

/*----------ヘッダー----------*/
header {
  height: 80px;
  color: #FFFFFF;
  background-color: #a0e8fc;
}

.vm {
  color: #FFFFFF;
  font-size: 58px;
  font-family: 'Baloo Tamma 2', cursive;
}

.vm:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.header-btn {
  color: #184da3;
  background: #e7f9fe;
  border-color: #184da3;
  border-radius: 0;
}

.header-btn:hover {
  color: #FFFFFF;
  background: #a0e8fc;
  border-color: #FFFFFF;
}

/*----------フッター----------*/
footer {
  height: 80px;
  background-color: #ffb700;
}

.footer_list {
  color: #000000;
}

.footer_list:hover {
  color: #ffff64;
}

/*----------サイドバー----------*/
.side_bar {
  border-style:solid;
  border-color: #ffb700;
  border-width:thin;
  padding: 15px;
}

/*----------アバウトページ----------*/
.caution {
  border-style:solid;
  border-color: #ffb700;
  border-width:thin;
  padding: 20px;
}

/*----------ユーザーアイコン----------*/
.user-icon {
  border-radius: 100px;
}