/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*----------全体----------*/
body{
  font-family: 'Noto Sans JP', sans-serif;
  word-break: break-all;
}

.container-all {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.in-container {
  display: flex;
}

.push {
  height: 80px;
}

p {
  font-size: 13px;
}

.alert {
  color: #ffb700;
  border-style:solid;
  border-color: #ffb700;
  border-width:thin;
}

.notice {
  color: #a0e8fc;
  border-style:solid;
  border-color: #a0e8fc;
  border-width:thin;
}

.blue-btn {
  color: #FFFFFF;
  background: #8ae0f8;
  border-radius: 0;
}

.blue-btn:hover {
  color: #8ae0f8;
  background: #FFFFFF;
  border: 1px solid #8ae0f8;
  border-radius: 0;
  text-decoration: none;
}

.orange-btn {
  color: #FFFFFF;
  background: #ffb700;
  border-radius: 0;
}

.orange-btn:hover {
  color: #ffb700;
  background: #FFFFFF;
  border: 1px solid #ffb700;
  border-radius: 0;
}

.btn:focus {
	outline-style: none;
}

.theme {
  font-size: 34px;
  font-family: 'Kosugi Maru', sans-serif;
  margin-bottom: 10px;
}

hr {
  border-color: #808080;
}

.form {
  border: 1px solid #aaa;
}

.form:focus {
	outline-style: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline-style: none;
}

/*----------ヘッダー----------*/
header {
  height: 80px;
  color: #FFFFFF;
  background-color: #95e8ff;
}

.vm {
  color: #FFFFFF;
  font-size: 58px;
  font-family: 'Baloo Tamma 2';
}

.vm:hover {
  color: #FFFFFF;
}

.header-btn {
  color: #FFFFFF;
  background: #95e8ff;
  border-color: #FFFFFF;
  border-radius: 0;
}

.header-btn:hover {
  color: #8ae0f8;
  background: #FFFFFF;
}

.search {
	display: flex;
	background-color: #FFFFFF;
	border:1px solid #aaa;
	padding: 2px 8px 2px 2px;
}
.search input{
	border: none;
}
::placeholder {
  color: #e0e0e0;
  font-size: 14px;
}
.search input:focus {
	outline-style: none;
}
.search button{
	color: #aaa;
	background: none;
	border: none;
	width: 20px;
	height: 20px;
}
.search placeholder {
  color: #FFFFFF;
}

/*----------フッター----------*/
footer {
  height: 80px;
  background-color: #ffb700;
}

.footer_list {
  color: #000000;
}

.footer_list:hover {
  color: #ffff64;
}

/*----------アバウトページ----------*/
.caution {
  border-style:solid;
  border: 1px solid #ffb700;
  padding: 20px;
}

/*----------ユーザーアイコン----------*/
.user-icon {
  border-radius: 100px;
  border: 1px solid #FFFFFF;
}

.header-user-icon {
  border-radius: 100px;
  border: 1px solid #FFFFFF;
}

.header-user-icon:hover {
  filter: brightness(110%);
}

/*----------トップページ----------*/
.top-image {
  width: 870px;
  height: 340px;
  padding: 10px;
  background-image: url('top.png');
  background-color: #a0e8fc;
  background-size: cover;
  background-position: center;
}

.top-image-box {
  height: 320px;
  background-color: rgba(255, 255, 255, 0.4);
  text-align:center;
  padding: 15px;
  animation: fadeIn 2s ease 1s 1 normal backwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.top-image-text {
  font-size: 44px;
  font-weight: bold;
  line-height: 1.8;
}

.top-image-subtext {
  font-size: 13px;
}

/*----------投稿一覧----------*/
.post-index {
  display: flex;
  flex-flow: row wrap;
}

.post-card {
  position: relative;
  height: 110px;
  width: 400px;
  margin: 0 20px 20px 0;
  padding: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  color: #000000;
}

.post-card a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.post-card:hover {
  border: 1px solid #95e8ff;
  box-shadow: none;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
}
.day-date {
  color: gray;
}

.post-card-user {
  margin-left: 5px;
}

.post-card-tag {
  color: #808080;
  margin: 0px 2px 5px 10px;
}

/*----------サイドバー1----------*/
.side-bar-tag {
  padding: 15px;
  border: 1px solid #ffb700;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: auto;
}

.tag-btn {
  position: relative;
  margin: 0 5px 5px 0;
  padding: 2px 5px 2px 5px;
  color: #000000;
  border: 1px solid #ffb700;
  border-radius: 50vh;
}

.tag-btn a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.tag-btn:hover {
  border: 1px solid #95e8ff;
}

/*----------サイドバー2----------*/
.side-bar-user {
  padding: 15px;
  border: 1px solid #ffb700;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}

.user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-blue-btn {
  width: 138px;
  color: #FFFFFF;
  background: #8ae0f8;
  border-radius: 0;
}

.user-blue-btn:hover {
  color: #8ae0f8;
  background: #FFFFFF;
  border: 1px solid #8ae0f8;
  border-radius: 0;
  text-decoration: none;
}

.user-orange-btn {
  width: 138px;
  color: #FFFFFF;
  background: #ffb700;
  border-radius: 0;
}

.user-orange-btn:hover {
  color: #ffb700;
  background: #FFFFFF;
  border: 1px solid #ffb700;
  border-radius: 0;
}

/*----------記事----------*/
.note{
  padding: 15px 20px 15px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nice{
  color: #808080;
}

.nice:hover {
  color: #ffff64;
}

.nice:visited{
  color: #ffb700;
}

.post-user a {
  color: #000000;
}

.bookmark-yet {
  color: #808080;
}

.bookmark-yet:hover {
  color: #ffff64;
}

.bookmarked {
  color: #ffb700;
}

.bookmarked:hover {
  color: #ffb700;
}

/*----------コメント----------*/
.comment {
  display: flex;
  margin-top: 15px;
}

.comment form{
  margin-left: auto;
}

.comment form div {
  display: flex;
 justify-content: flex-end;
}

.comment-card {
  width: 55%;
  margin-top: 10px;
  padding: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.comment-user a {
  color: #000000;
}

.baketu {
  color: #808080;
}

.baketu:hover {
  color: #000000;
}

/*----------フォローリスト----------*/
.follow-index {
  display: flex;
  flex-flow: row wrap;
}

.user-card {
  position: relative;
  height: 110px;
  width: 250px;
  margin: 0 20px 20px 0;
  padding: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  color: #000000;
}

.user-card a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.user-card:hover {
  border: 1px solid #95e8ff;
  box-shadow: none;
}


.post-form1 {
  border: 1px solid #aaa;
  width: 40%;
}

.post-form1:focus {
	outline-style: none;
}

.post-form2 {
  border: 1px solid #aaa;
  width: 80%;
}

.post-form2:focus {
	outline-style: none;
}

/*----------ユーザー一覧----------*/
.user-index {
  display: flex;
  flex-flow: row wrap;
}

.user-card {
  position: relative;
  width: 400px;
  margin: 0 20px 20px 0;
  padding: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  color: #000000;
}

.user-card a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.user-card:hover {
  border: 1px solid #95e8ff;
  box-shadow: none;
}

.user-card-name {
  font-size: 18px;
}

/*----------ユーザーedit----------*/
.user-form1 {
  border: 1px solid #aaa;
  width: 250px;
}

.user-form1:focus {
	outline-style: none;
}

.user-form2 {
  border: 1px solid #aaa;
  width: 350px;
  height: 100px;
}

.user-form2:focus {
	outline-style: none;
}

.imagefield {
  font-size: 13px;
}

.imagedelete {
  font-size: 13px;
}

.label {
  margin: 10px 0 2px 0;
}

/*----------問い合わせ----------*/
.mail-form {
  border: 1px solid #aaa;
  width: 300px;
}

.mail-form:focus {
	outline-style: none;
}

.mail-form2 {
  border: 1px solid #aaa;
  width: 450px;
}

.mail-form2:focus {
	outline-style: none;
}

.mail-form3 {
  border: 1px solid #aaa;
  width: 450px;
  height: 200px;
}

.mail-form3:focus {
	outline-style: none;
}

.confirm-form {
  border: 1px solid #aaa;
  width: 300px;
  padding: 2px;
  background-color: #e0e0e0;
  color: #909090;
}

.confirm-form2 {
  border: 1px solid #aaa;
  width: 450px;
  padding: 2px;
  background-color: #e0e0e0;
  color: #909090;
}

.confirm-form3 {
  border: 1px solid #aaa;
  width: 450px;
  min-height: 200px;
  padding: 2px;
  background-color: #e0e0e0;
  color: #909090;
}

.thanx-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thanx {
  text-align: center;
}

.thanx-page p {
  text-align: center;
}

.red {
  color: red;
  margin: 10px 0 3px 0;
}




/*----------ちょっとしたもの----------*/
.ball {
  color: #95e8ff;
}
