<h3>退会</h3>
<p>
<%= current_user.name %>さん<br>
退会しても記事やコメントは残ります。<br>
退会後に記事やコメントの編集・削除をすることはできません。<br>
退会しますか？<br>
</p>
<%= link_to "トップページに戻る", root_path, class: "btn orange-btn" %>
<%= link_to "退会する", out_users_path, method: :patch, params: { is_active: :false }, class: "btn blue-btn" %>
