<footer class="mt-auto">
  <div class="container align-items-center">
    <nav class="row d-flex justify-content-center mt-3">
      <ul class="navbar-nav flex-row">
        <li class="nav_item mr-4">
          <%= link_to about_path, class: "footer_list" do %><i class="fas fa-question-circle"></i><% end %>
        </li>
        <li class="nav_item mr-4">
          <%= link_to new_message_path, class: "footer_list" do %><i class="fas fa-envelope"></i><% end %>
        </li>
        <li class="nav_item mr-4">
          <i class="fab fa-twitter"></i>
        </li>
        <li class="nav_item">
          <span class="copyright">V&Me © 2022</span>
        </li>
      </ul>
    </nav>
  </div>
</footer>
